<div>app_proxy_test</div>

<script type="text/javascript">
  function appProxyTest() {

    const formdata = new FormData();
    formdata.append("customerId", 123);

    const requestOptions = {
      // ---- GET用
      // method: 'GET',

      // ---- POST用
      method: 'POST',
      body: formdata,
      redirect: 'follow'
    };
    console.log('Fetch_to_proxy');
    const appProxyPath = "apps/wishlist";
    const apiEndpooint = "api/wishlist";
    fetch(`${appProxyPath}/${apiEndpooint}`, requestOptions)
      .then(response => response.text())
      .then(result => {
        console.log(result);
      })
      .catch(error => console.log('error', error));
  };
  appProxyTest();
  //# sourceURL=http://debug/app_proxy_test_script.js
</script>

{% schema %}
{
  "name": "App_Proxy_Test",
  "target": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "product",
      "autofill": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Add to Wishlist"
    },
    {
      "type": "color",
      "id": "colour",
      "label": "Icon Colour",
      "default": "#ff0000"
    }
  ]
}
{% endschema %}
