<div id="ogne-app-coordinate-list__section" class="ogne-shopify-app__liquid">
  <iframe src="" frameborder="0" id="ogne-app-coordinate-list__content-container">
    {% comment %} アプリバックエンドから取得されたHTMLが挿入されます。 {% endcomment %}
  </iframe>
  <script
    type="text/javascript"
    src="{{ 'content-loader.js' |  asset_url }}"
    defer
    onload="loadCurrentPageContent('ogne-app-coordinate-list__content-container')"
  >
  </script>
</div>

{% schema %}
{
  "name": "Ogne Shpiry App",
  "target": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "product",
      "autofill": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Add to Wishlist"
    },
    {
      "type": "color",
      "id": "colour",
      "label": "Icon Colour",
      "default": "#ff0000"
    }
  ]
}
{% endschema %}
